<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="featureBee" type="FeatureBee.ConfigSection.FeatureBeeConfiguration, FeatureBee.Client" />
  </configSections>
  <featureBee>
    <server url="http://cs-featurebee-data-live.s3-website.eu-central-1.amazonaws.com" updateMode="Pull" />
    <settings trafficDistributionCookie="uniquecookie" />
    <tray showTrayIconOnPages="false" />
  </featureBee>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>